<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Irssi Scripts</title>

        <link href="assets/css/bootstrap.min.css" rel="stylesheet">
        <link href="assets/css/bootstrap-theme.min.css" rel="stylesheet">
        <link href="assets/css/style.css" rel="stylesheet">
    </head>
    <body>
        <a href="https://github.com/irssi/scripts.irssi.org"><img style="position: absolute; top: 0; right: 0; border: 0;" src="assets/img/forkme.png" alt="Fork me on GitHub"></a>
